<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lb.wxr.platform.dao.AppMapper">
	<insert id="insert">
		insert platform_app
		(
		name,
		appID,
		appsecret,
		description,
		activated,
		deleted
		)
		values
		(
		#{name},
		#{appID},
		#{appsecret},
		#{description},
		#{activated},
		1
		)
	</insert>
	<update id="update">
		update platform_app set
		name = #{name},
		appID = #{appID},
		appsecret = #{appsecret},
		activated = #{activated},
		description = #{description}
		<where>
			deleted = 1
			and id = #{id}
		</where>
	</update>
	<select id="select" resultType="cn.lb.wxr.platform.model.PlatformApp">
		select id,name,appID,appsecret,activated,description from platform_app
		<where>
			deleted = 1
			and id = #{id}
		</where>
	</select>
	
	<select id="selectByPage" resultType="cn.lb.wxr.platform.model.PlatformApp">
		select id,name,appID,appsecret,activated,description from platform_app
		<where>
			deleted = 1
		</where>
	</select>
	
	<update id="deleteBatchIds">
		update platform_app
		set deleted = 2
		<where>
			deleted = 1
			<foreach collection="ids" item="id" open="and id in (" close=")" separator=",">
			#{id}
			</foreach>
		</where>
	</update>
</mapper>